# Virtual Environment
.venv/
.vevn/

# Database
*.db

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Streamlit Cache
.streamlit/

# Python
*.pyo
*.pyd